LLM_API_KEY=""
LLM_API_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
LLM_TIMEOUT=600

MONGO_URI="mongodb://localhost:27017"
MONGO_DB_NAME="stock_project"

PROXY_51_API_URL=""

LOG_LEVEL="INFO"
